/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
.desktop{
    width: 800px;
    height: 500px;
    margin: 30px;
    padding: 30px;
}



.icon{
    width: 200px;
    height: 500px;
    border: 1px grey solid;
    align-content: center;
}